snakemake == 7.25.0
pulp == 2.7.0
numpy == 1.26.4
kilosort[gui]
scipy
sonpy
git+https://github.com/teristam/snakehelper.git
statsmodels
python-dotenv
seaborn
plotly
xarray
scikit-learn
jupyterlab
ipywidgets
h5netcdf
neo
shiny
loguru
spikeinterface 
elephant
fastdtw
tslearn
pingouin
